:root,
[data-bs-theme="light"] {
  --bs-primary:#4A6080;
  --bs-primary-rgb: 74, 96, 128;
  --bs-secondary: #6482ad;
  --bs-secondary-rgb: 127, 161, 195;
  --bs-footer: #e2dad6;
  --bs-footer-rgb: 226, 218, 214;
  --bs-gray-100: #f9f9f9;
  --bs-gray-100-rgb: 249, 249, 249;
}

body {
    background-color: var(--bs-gray-100);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body > main {
    flex-grow: 1;
    flex-shrink: 0;
}

footer > .row > .col-sm {
    background-color: var(--bs-footer);
    padding-top: var(--cell-spacing);
    padding-bottom: var(--cell-spacing);
}

header > .navbar .nav-item {
    position: relative;
}

.navbar-toggler {
    color: #fff;
    border-color: #fff;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .nav-link.active {
    text-decoration: underline;
  }

  .btn-primary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
  }

  .form-check-input:checked {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }

  .page-link {
    color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }