:root,
[data-bs-theme="light"] {
  --bs-primary:#4A6080;
  --bs-primary-rgb: 74, 96, 128;
  --bs-secondary: #6482ad;
  --bs-secondary-rgb: 100, 130, 173;
  --bs-footer: #e2dad6;
  --bs-footer-rgb: 226, 218, 214;
  --bs-gray-100: #fbfbfb;
  --bs-gray-100-rgb: 251, 251, 251;
  --bs-primary-hover: #394A62;
  --bs-primary-hover-rgb: 57, 74, 98;
}

body {
    background-color: var(--bs-gray-100);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body > main {
    flex-grow: 1;
    flex-shrink: 0;
}

footer > .row > .col-sm {
    background-color: var(--bs-footer);
    padding-top: var(--cell-spacing);
    padding-bottom: var(--cell-spacing);
}

header > .navbar .nav-item {
    position: relative;
}

.navbar-toggler {
    color: #fff;
    border-color: #fff;
  }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link.active,
.dropdown-item.active {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.dropdown-item.active {
  background-color: var(--bs-primary);
}

.btn-primary {
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
}

.form-check-input:checked {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.pagination {
  --bs-pagination-active-bg: var(--bs-secondary);
  --bs-pagination-color: var(--bs-secondary);
  --bs-pagination-active-border-color: var(--bs-secondary);
  --bs-pagination-hover-color: var(--bs-secondary);
}

.page-link {
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

legend {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.bg-image {
  height: 350px;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  background-size: cover;
  background-position: 70% 20%;

}

.hero-image-text {
  max-width: 38rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

ul.dropdown-menu > .dropdown-item.text-white:hover,
ul.dropdown-menu > .dropdown-item.text-white:focus,
ul.dropdown-menu > li > .dropdown-item.text-white:hover,
ul.dropdown-menu > li > .dropdown-item.text-white:focus {
  background-color: var(--bs-primary-hover);
}

@media (max-width: 768px) {
  .bg-image {
    height: 250px;
  }

  .hero-image-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .bg-image {
    height: 150px;
  }
  .hero-image-text {
    font-size: 1rem;
  }
}