<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}BacMet{% endblock %}</title>
  <link href="/static/vendor/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/bootstrap-icons.min.css">
  <link href="/static/main.css" rel="stylesheet">
  <script src="/static/vendor/jquery-3.0.0.min.js"></script>
  <script src="/static/vendor/bootstrap.bundle.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    {% if navigation %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid justify-content-between">
        <div>
          <a class="navbar-brand text-white" href="/">{{ site_info.brand_name }}</a> <icon class="bi bi-virus text-white"></icon>
        </div>
        <div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% for item in navigation %}
              <li class="nav-item me-2"><a class="nav-link text-white {% if request.path == item.href %}active{% endif %}" href="{{ item.href }}">{{ item.label}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {% endif %}
  </header>
  <main class="container">
    {% block content %}{{ content_text }}{% endblock %}
  </main>
  {% if site_info %}
  <footer class="container-fluid">
    <div class="row small d-flex justify-content-between">
      <div class="col-sm p-2">
        <p class="mb-1"><strong>{{ site_info.brand_name }}</strong></p>
        {{ site_info.copyright }}
      </div>
      <div class="col-sm p-2">
        <p class="mb-1"><strong>CONTACT</strong></p>
        <icon class="bi bi-envelope-fill me-1"></icon>
        {{ site_info.contact }}
      </div>
      <div class="col-sm p-2">
        {{ site_info.attribution }}
      </div>
      <div class="col-sm p-2 d-flex align-items-center justify-content-end">
        <img src="{{ url_for('static', filename='img/Chalmers_GU.png') }}" alt="Chalmers and Gothenburg university logo" class="img-fluid" style="max-height:32px;">
      </div>
    </div>
  </footer>
  {% endif %}
</body>
</html>
